// Set default font size
//
//

html {
  font-size: 18px;
}

.meat-consumption-calculator {

  // Headings
  //
  //

  h1 {
    font-weight: 700 !important;
    color: $gray-dark;
  }

  h2,
  h3 {
    color: $gray-dark;
    font-weight: 700 !important;

    strong {
      color: $brand-primary;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  p,
  li,
  label,
  input,
  .btn {
    font-size: 18px;
    line-height: 1.5;
  }

  p, ul {
    margin-top: 0;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    border-width: 3px !important;
  }

  legend {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  em {
    font-style: normal;
    color: $brand-primary;
  }

  .large {
    font-size: 1.25rem;
  }

  .small {
    font-size: 0.9rem;
  }

  .smaller {
    font-size: 0.8rem;
  }

  .text-gray {
    color: $gray-light;
  }

  .error {
    color: $red-error;
  }

  .info,
  .call-to-action {
    a {
      color: $brand-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    border: 0;
    height: 3px;
    background: #ddd;
  }

  .call-to-action {
    hr {
      margin-left: -10px;
      margin-right: -10px;

      &:first-child {
        margin-bottom: 1rem;
      }

      &:last-child {
        margin-top: 0.75rem;
      }
    }
  }

  .definition {
    font-family: $font-family-serif;

    p {
      font-size: 24px;
      margin-bottom: 0;

      em {
        font-style: italic;
        color: $gray-dark;
      }
    }

  }

}

// toremove
// adding pointless rule to rebuild and then force github pages
// cache refresh
.hack {
  text-decoration: none;
}