@import "_variables.scss";

// Borrow a couple of stylesheets from Twitter Bootstrap.
@import "bootstrap/_grid.scss";
@import "bootstrap/_forms.scss";
@import "bootstrap/_buttons.scss";

// Components
@import "components/_buttons.scss";
@import "components/_charts.scss";
@import "components/_icons.scss";
@import "components/_plates.scss";
@import "components/_radio-buttons.scss";
@import "components/_wells.scss";

// Helper classes.
@import "helpers/_bootstrap-xxs.scss";
@import "helpers/_margins.scss";

@import "_typography.scss";

// Scope everything to avoid conflict with Squarespace stylesheets.
.meat-consumption-calculator {

  // Compensate for closing #page element just before
  margin-top: -96px;

  // Define maximum container width for larger screens
  @media screen and (min-width: 768px) {
    .container {
      max-width: 680px !important;
    }
  }

  #page {
    padding: 0 32px !important;
  }

  .pull-right {
    float: right !important;
  }

  .well-result {
    padding-top: 30px;
  }

  // The result section is shown after user reveals their
  // current diet.

  .list-typical-benefits {
    list-style: none;
    padding-left: 0;
    text-align: left;

    @media screen and (min-width: $screen-sm) {
      li {
        margin-bottom: 1.5rem;
        position: relative;
        p {
          position: absolute;
          width: 50%;
          left: 25%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

  }

  .wrap-impact-image {
    display: block;

    width: 100%;
    text-align: center;

    img {
      margin: auto;
      width: auto;
      max-height: 100px;
    }

    @media screen and (min-width: $screen-sm) {
      float: left;
      opacity: 1;
      width: 25%;
      img {
        width: auto;
        height: 80px;
      }
    }

  }

  // Pledge form
  //
  //

  .wrap-pledge {
    background-image: url('http://static1.squarespace.com/static/5395130de4b09ddb699acb37/t/563d616fe4b028bb5d47e557/1446863217561/Reduce_WebBanners046.jpg?format=1500w');
    background-size: 100% auto;
    //position: absolute;
    //left: 0;
    width: 100%;
    //z-index: 100;
  }

  .form-pledge__inner {
    padding: 25px 0 25px 0;
    border-radius: 15px;
    background-color: #fff;
  }

  @media screen and (min-width: $screen-sm) {
    .form-pledge__inner {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .form-pledge__legend {
    border: none;
    text-transform: uppercase;
    color: $brand-primary;
  }

  .form-pledge__input {
    font-size: 18px;
    height: 51px;
    border-radius: 10px;
  }

  .form-pledge__btn-submit {
    border-radius: 30px;
    border: none;

    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;

    &:hover {
      background-color: rgba(135,178,0,.8);
    }
  }
}

.wrap-btn-social {
  display: inline-block;
}


#form-pledge .wrap-btn-social + .wrap-btn-social {
  float: right;
}

.fb_iframe_widget {
  position: relative;
  top: -8px;
}

//
// The calculator needs slightly different styling on the homepage.
//
.homepage {
  .meat-consumption-calculator {
    margin-top: 52px;
    border-top: 3px solid #ddd;
    padding-top: 52px;



    h1 {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: 2px;
      color: $brand-primary;
    }
  }
}


//
// Styling to facilitate AB tests
//

.no-graphs {
  .row-graphs {
    display: none;
  }
}

// Animations
//
//

@keyframes wiggle {
    0%    { transform: rotate(0deg); }
    25%    { transform: rotate(-10deg); }
    50%    { transform: rotate(7deg); }
    75%    { transform: rotate(-5deg); }
    100%      { transform: rotate(0deg); }
}
