$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "helpers/_bootstrap-xxs.scss";
@import "helpers/_margins.scss";
@import "helpers/_squares.scss";

@import "_typography.scss";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.radio {
  border: none;
  background-color: $off-white;
  padding: 5px;

  &:hover {
    color: $brand-primary;
    cursor: pointer;
  }

  &.selected {
    background-color: $brand-primary;
    color: $off-white;
  }

  input {
    margin-top: -1px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    position: relative !important;

    &:focus {
      outline: none !important;
    }
  }
}

.radio.square {
  border: none;
  background-color: $off-white;
  padding-bottom: 100%;

  &.selected {
    background-color: $brand-primary;
    color: $off-white;
  }

  input {
    opacity: 0;
    position: absolute !important
  }

}

#pledge {
  legend {
    border: none;
    text-transform: uppercase;
    color: $brand-primary;

  }
}

.panel {
  border: 3px solid $brand-primary;
  padding: 15px 0 15px 0;

  .panel {
    background-color: #eee;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

img {
  max-width: 100%;
}

.graph {
  text-align: center;
  img {
    max-width: 500px;
  }
}